@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  -color-dark-blue: hsl(209, 23%, 22%);
  -color-very-dark-blue: hsl(207, 26%, 17%);
  -color-very-dark-blue: hsl(200, 15%, 8%);
  -color-dark-gray: hsl(0, 0%, 52%);
  -color-very-light-gray: hsl(0, 0%, 98%);
  -color-white: hsl(0, 0%, 100%);
}
body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}
